.login-page {
  display: flex;
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 1px solid #010101;
  border-radius: 10px;
}

.login-page h1 {
  margin-bottom: 2rem;
  color: #333;
}

.login-page form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-bottom: 1rem;
  border: #010101;
}

.login-page label {
  margin-bottom: 0.5rem;
  color: #333;
}

.login-page input {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #010101;
}

.login-page button {
  padding: 0.5rem;
  color: #ff7a28;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-page p {
  color: #333;
}

.login-page a {
  color: #ff7700;
}
#login {
  color: #ff7a28;
}
